/*积分说明*/

.contain_integral {}

.contain_integral ul {
	padding: 0px 4vw 20vw;
	margin-top: 20px;
}

.contain_integral ul li {
	/*height: 9.4vw;
	overflow: hidden;*/
	/*animation: .25s, 100ms;*/
}
.contain_integral ul li.active{
	height: auto;
}
.contain_integral ul li span {
	display: block;
	height: 9.4vw;
	line-height: 9.4vw;
	color: #222;
	font-size: 4vw;
	background: url(../img/payment/order_bot@2x.png) no-repeat right center / 2.94vw 1.74vw;
}
.contain_integral ul li.active span{
	background: url(../img/payment/order_top@2x.png) no-repeat right center / 2.94vw 1.74vw;
}
.contain_integral ul li p {
	font-size: 3.2vw;
	color: #999999;
	padding: 2.7vw 0px;
	display: none;
}

/*优惠券说明*/
.contain_coupon{}
.contain_coupon ul {
	padding: 0px 4vw 20vw;
	margin-top: 20px;
}

.contain_coupon ul li {
	/*height: 9.4vw;
	overflow: hidden;
	animation: .25s, 100ms;*/
	
}
.contain_coupon ul li.active{
	height: auto;
}
.contain_coupon ul li span {
	display: block;
	height: 9.4vw;
	line-height: 9.4vw;
	color: #222;
	font-size: 4vw;
	background: url(../img/payment/order_bot@2x.png) no-repeat right center / 2.94vw 1.74vw;
}

.contain_coupon ul li p {
	font-size: 3.2vw;
	color: #999999;
	padding: 2.7vw 0px;
	display: none;
}
.contain_coupon ul li.active span{
	background: url(../img/payment/order_top@2x.png) no-repeat right center / 2.94vw 1.74vw;
}